@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'fonts.css'; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,700&display=swap");

html {
  @apply h-[full];
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  background: linear-gradient(180deg, #8aecee, 10%, #75c1f8, 60%, #1d2197);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .profile-image {
  background-image: linear-gradient(to bottom right, rgb(235, 240, 188), transparent);
  shape-outside: linear-gradient(to bottom right, rgb(44, 41, 199), transparent);
  shape-image-threshold: 0.3;
  animation: float 4s linear infinite;
} */

/* This animation is for floating */
/* @keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  10% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-2px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  90% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-2px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
} */
